html, body, h1, h2, h3, h4, p, div, ul, ol, li, a
  padding: 0
  border: 0
  margin: 0
  font: inherit
  font-size: 100%
  font-family: "Helvetica Neue", Helvetica, sans-serif
body
  background: scale-color(gray, $lightness: -70)
.footer
  background: scale-color(gray, $lightness: -70)
  padding: 20px
  font-size: 20px
  text-align: center
  a
    text-decoration: none
    font-weight: 200
    color: scale-color(red, $lightness: 20)
    &:hover
      color: red
      border-bottom: 1px solid red
$pages: about projects references contact
@each $page in $pages
  .page-#{$page}
    color: darkgray
    margin: 10px
    padding-top: 30px
    h1
      font-weight: bold
      border-bottom: 1px solid
      text-align: left
      margin-bottom: 10px
      font-size: 1.5em
    p
      margin-bottom: 1em
    li
      margin-left: 20px

.page-about
  text-align: justify
