html, body, h1, h2, h3, h4, p, div, ul, ol, li, a
  padding: 0
  border: 0
  margin: 0
  font: inherit
  font-size: 100%
  font-family: "Helvetica Neue", Helvetica, sans-serif
body
  background: scale-color(gray, $lightness: -70)
nav
  position: fixed
  top: 0
  width: 100%
  background: #262626
  // background: transparent
  color: scale-color(red, $lightness: 20)
  text-align: center
  font-size: 16px
  font-weight: 200
  li
    display: inline-block
    padding-right: 20px
    &:last-child
      padding-right: 0
      border-right: 0
  .navbar-links
    a
      text-decoration: none
      position: relative
      color: inherit
    .active
      color: gray
      cursor: default
  .brand
    @extend .navbar-links
    font-size: 32px
    font-weight: 500
    color: darkgray
    .active
      color: darkgray
      border-bottom: 1px solid darkgray
// .content
//   text-align: center
//   margin: 20px
//   color: darkgray
//   .about
//     text-align: justify
//     width: 90%
//     margin: 0 auto
.footer
  background: scale-color(gray, $lightness: -70)
  padding: 20px
  font-size: 20px
  text-align: center
  a
    text-decoration: none
    font-weight: 200
    color: scale-color(red, $lightness: 20)
    &:hover
      color: red
      border-bottom: 1px solid red
$pages: home about projects references contact
@each $page in $pages
  .page-#{$page}
    color: darkgray
    margin: 10px
    padding-top: 30px
    h1
      font-weight: bold
      border-bottom: 1px solid
      text-align: left
      margin-bottom: 10px
      font-size: 1.5em
    p
      margin-bottom: 1em
    li
      margin-left: 20px
.page-home
  margin: -15px 10px 10px 10px
  text-align: center
  img
    height: auto
    width: 100%
.page-about
  text-align: justify
