html, body, h1, h2, h3, h4, p, div, ul, ol, li, a
  padding: 0
  border: 0
  margin: 0
  font: inherit
  font-size: 100%
  font-family: "Helvetica Neue", Helvetica, sans-serif
body
  background: scale-color(gray, $lightness: -70)
nav
  background: scale-color(gray, $lightness: -70)
  color: scale-color(red, $lightness: 20)
  text-align: center
  padding: 20px
  font-size: 24px
  font-weight: 200
  li
    display: inline-block
    margin-right: 20px
    padding-right: 20px
    // border-right: 1px solid lightgray
    &:last-child
      margin-right: 0
      border-right: 0
  .navbar-links
    a
      text-decoration: none
      position: relative
      color: inherit
      &:before
        content: ""
        position: absolute
        width: 95%
        margin-left: 2.5%
        height: 2px
        bottom: 0
        left: 0
        background-color: scale-color(red, $lightness: 20)
        visibility: hidden
        -webkit-transform: scaleX(0)
        transform: scaleX(0)
        -webkit-transition: all 0.2s ease-in-out 0s
        transition: all 0.2s ease-in-out 0s
      &:hover:before
        visibility: visible
        -webkit-transform: scaleX(1)
        transform: scaleX(1)
    .active
      color: gray
      cursor: default
      &:before
        visibility: hidden
      &:hover:before
        visibility: hidden
      &:hover
        // color: gray
  .brand
    @extend .navbar-links
    font-size: 32px
    font-weight: 500
    color: darkgray
    .active
      color: darkgray
      border-bottom: 1px solid darkgray
.content
  text-align: center
  margin: 20px
  color: darkgray
  .about
    text-align: justify
    width: 90%
    margin: 0 auto
.footer
  background: scale-color(gray, $lightness: -70)
  padding: 20px
  font-size: 20px
  text-align: center
  a
    text-decoration: none
    font-weight: 200
    color: scale-color(red, $lightness: 20)
    &:hover
      color: red
      border-bottom: 1px solid red
