{
  "presets": [
    "es2015",
    "react"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    },
    "build": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    }
  }
}
