.layout
  .layout-content
    webkit-transition: all .5s ease-out
    -moz-transition: all .5s ease-out
    -ms-transition: all .5s ease-out
    -o-transition: all .5s ease-out
    transition: all .5s ease-out
    &.nav-push-effect
      transform: translateX(-49vw)
      background-color: #a4a4a4
      // .nav-bar
      //   .nav-content
      //     &.pushout
      //       transform: translateX(45vw)
      //       webkit-transition: all .5s ease-out
      //       -moz-transition: all .5s ease-out
      //       -ms-transition: all .5s ease-out
      //       -o-transition: all .5s ease-out
      //       transition: all .5s ease-out
