$bg-color: #900812
$font-color: #f4f4f4
$dropdown-bg-color: #363636
$active-link-color: #900812
.nav-bar
  position: absolute
  margin-top: 100vh
  width: 100%
  z-index: 999
  font-family: "istokweb", serif
  background-color: $dropdown-bg-color
  color: $font-color
  .icon
    display: none
  .navbar-links
    ul
      list-style-type: none
      text-align: center
      li
        display: inline-block
        &.nav-active
          color: $active-link-color
          cursor: default
        a
          text-decoration: none
          color: inherit
        &::before
          background-image: none

@media only screen and (max-width:680px)
  .nav-bar
    .icon
      display: inline-block
      float: right
      a
        text-decoration: none
        color: inherit
    .navbar-links
    ul
      float: right
      display: none
      text-align: right
      li
        width: 100%
        display: none
        &.nav-active
          display: block
    &.dropdown
      ul
        background-color: $dropdown-bg-color
        text-align: right
        display: block
