@import '../../styles/constants.sass'

.nav-bar
  width: 100%
  z-index: 999
  font-family: "istokweb", serif
  background-color: $darkgray
  color: $offwhite
  .icon
    display: none
  .active
    color: $darkred !important

@media only screen and (max-width:375px)
  .nav-bar
    font-size: 5vh
    height: 5vh
    text-align: left
    .icon
      display: block
      text-align: right
    .navbar-links
      transform: translateX(100vw)
      webkit-transition: all .5s ease-out
      -moz-transition: all .5s ease-out
      -ms-transition: all .5s ease-out
      -o-transition: all .5s ease-out
      transition: all .5s ease-out
      ul
        background-color: $darkgray
        li
          font-size: 4vh
          width: 100%
          padding-left: 3vw
          &:first-child
            border-top: 1px solid $offwhite
            padding-top: 1vh
          &:last-child
            height: 100vh
      &.pushout
        transform: translateX(45vw)
        webkit-transition: all .5s ease-out
        -moz-transition: all .5s ease-out
        -ms-transition: all .5s ease-out
        -o-transition: all .5s ease-out
        transition: all .5s ease-out
@media screen and (-webkit-device-pixel-ratio:3)
  .nav-bar
    font-size: 5vh
    height: 5vh
  h2
    padding-top: 4vh
    font-size: 7vh
@media only screen and (min-width:376px)
  .nav-bar
    font-size: 3vh
    height: 3vh
