@import '../../styles/constants.sass'

.page-resources
  display: block
  background-image: url('./images/books@2x.jpg')
  background-repeat: no-repeat
  background-size: 200vh
  background-position: 30% 100%
  background-color: #fff
  background-blend-mode: luminosity
  color: $offwhite
  p
    padding: 2vh 6vw
  ul
    // padding: 2vh 0 2vw 6vw
    li
      text-align: justify
      padding: 1vh 6vw
      list-style-type: disc
      &:first-child
        padding-top: 2vh
      a
        color: inherit
        text-decoration: underline
        padding: 0 .3rem
