@import '../../styles/constants.sass'

.page-resources
  display: block
  background-image: url('./images/mobile-books.jpg')
  background-repeat: no-repeat
  background-size: 100vw 100vh
  color: $offwhite
  .resources-content
    height: 75vh
    margin: 1vh 6vw
    background: rgba(.1,.1,.1,.3)
  p
    padding: 1vh 6vw
    &.resrouces-hint
      text-align: center
  ul
    list-style-type: disc
    li
      text-align: justify
      padding: 1vh 2vw
      &:first-child
        padding-top: 2vh
      a
        color: $darkblue
        text-decoration: none
        font-weight: bold
        &::before
          content: '\00a0'
        &::after
          content: '\00a0'
    &.resource-topics
      list-style-type: none
      text-align: center
      #jslogo
        transform: translateY(.25rem)
        padding-left: .5rem
      #csslogo
        transform: translateY(-2rem)
      li
        padding: 1vh 1vw
        display: inline-block
        &:first-child
  svg
    stroke-width: 24px
  h3
    margin: 2rem auto 0
    padding: 0 0 1vh 0
    text-align: center
    width: 30vw
    border-top: 1px solid $offwhite
    border-bottom: 1px solid $offwhite
  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)
    background-image: url('./images/mobile-books@2x.jpg')
@media only screen and (min-width:436px)
  .page-resources
    background-image: url('./images/large-books.jpg')
    background-size: 100% 100%
  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)
    background-image: url('./images/large-books@2x.jpg')
