.about-page
  text-align: center
  .img-portrait
    width: 85%
    max-width: 534px
    margin: 4vh 0 0 0
  .image-text
    position: relative
    bottom: 0
    left: 0
    font-size: 3vh
    padding-top: 2vh
  .img-skateboard
    width: 85%
  .about-page
    overflow: hidden
