.page-about
  margin: 0
  border: 0
  padding: 4rem 0 0 0
  color: #555555
  .img-portrait
    width: 100vw
    max-width: 534px
  .img-skateboard
    width: 100vw
  p
    padding: 0
    margin: 1rem
  .about-page
    overflow: hidden
  .aboutPage1
    p
      text-align: center
  .flash-to-disappear
    -webkit-animation: flash 1s linear infinte
    animation: flash 1s linear infinte

@-webkit-keyfames flash
  50%
    opacity: 0.0
@keyframes flash
  50%
    opacity: 0.0
