.carousel-container
  margin: 0
  padding: 0
  border: 0
  height: 90vh
  position: relative
  border: 1px solid #ccc
  box-shadow: 2px 2px 10px #ccc
  overflow: hidden
  // .carousel-content
  //   margin: 0
  //   padding: 0
  //   height: 80vw
  //   li
  //     font-size: 10px
  //     margin: 0
  //     padding: 0 0 10px 0
  //     width: 100%
  //     list-style: none
  //     text-align: center
  //   .button
  //     border: none
  //     display: none
  // .carousel-active
  //   height: 80vh
  //   li
  //     position: absolute
  //     top: 80vh
  //     &.current
  //       top: 10vh
  //       font-size: 300px
  // .button-bottom
  //   padding: 0
  //   margin-top: 10vh
  //   background: #EEE
  //   text-align: center
  //   z-index: 10
  //   position: relative
  //   border-bottom: 1px solid black
  //   button
  //     width: 50%
  //     height: 100%
  //     height: 5vh
  //     display: inline-block
  //     border: none
  //     font-size: 1.6rem
  //   .button-prev
  //     border-right: 1px solid black
  //
  // .button-side
  //   button
  //     font-size: 2rem
  //     border: 1px solid black
  //   .button-prev
  //     float: left
  //   .button-next
  //     float: right
  //
  // .offscreen
  //   position: absolute
  //   left: -2000px
