.carousel-container
  margin: 0
  padding: 0
  border: 0
  height: 50vh
  width: 100vw
  position: relative
  border: 1px solid #ccc
  box-shadow: inset -2px -2px 10px #ccc
  overflow: hidden
  .carousel-content
    // min-height: 500px
  .carousel-pagination
    ol
      li
        display: inline-block
        font-size: 3rem
        a
          color: inherit
          &.active
            font-size: 4rem
