.carousel-container
  margin: 0
  padding: 0
  border: 0
  height: 80vh
  width: 100vw
  position: relative
  border: 1px solid #ccc
  overflow: hidden
  .carousel-content
    padding: 0
    margin: 0
  .carousel-pagination
    ol
      li
        display: inline-block
        font-size: 3rem
        a
          color: inherit
          &.active
            font-size: 4rem
