.page-home
  margin: 0
  padding: 0
  border: 0
  height: 100vh
  h2
    margin-top: 20vh
    font-size: 7vh
    color: #777777
    font-weight: 100
  svg
    height: 15vh
    margin-top: 40vh
    fill: #777777
    &:hover
      fill: #37b8eb
      cursor: default
