@import '../../styles/constants.sass'

.page-projects
  display: block
  background-image: url('./images/project@2x.jpg')
  background-repeat: no-repeat
  background-size: 150vh
  background-position: 90% 100%
  color: white
  background-color: #ddd
  background-blend-mode: multiply
@media only screen and (min-width:436px)
  .page-projects
    background-size: 100%
