@import '../../styles/constants.sass'

.page-projects
  display: block
  background-image: url('./images/projectb.jpg')
  background-repeat: no-repeat
  background-size: 150vh
  background-position: 90% 100%
  color: white
  ul
    li
      padding-left: 3vw
@media only screen and (min-width:436px)
  .page-projects
    background-size: 100%
